pre#generatedGraphStr {
  max-height: 200px;
}

.algList pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.algList {
  box-sizing: border-box;
  margin-right: 10px;
}

.splitView {
  display: flex;
}
.window {
  width: 100%;
}

.gridParent {
  max-width: 100%;
  overflow: auto;
}

.alg {
  cursor: pointer;
}
