pre#generatedGraphStr {
  max-height: 200px;
}

.gridParent {
  max-width: 100%;
  overflow: auto;
}

.box {
  box-sizing: border-box;
  border: 1px solid #aaa;
  display: inline-block;
  float: left;
}
